<div class="jtk-main">
  <div class="row">
    <div class="col-9 px-0">
      <div class="jtk-canvas canvas-wide statemachine jtk-surface jtk-surface-nopan" id="canvas"></div>
    </div>
    <div class="col-3 px-0">
      <div class="edit-panel-holder">
        <span class="block-editor-title">Block Editor</span>
        <hr />
        <div class="edit-panel" id="edit-panel"></div>
      </div>
    </div>
  </div>

  <br />

  <!-- Creating the tabs -->
  <ul id="tabs">
    <% block_tabs.forEach((tab, i) => { %>
      <li><a id="tab-id-<%= i %>">
        <%= tab.name %>
      </a></li>
    <% }); %>
  </ul>
  
  <!-- Creating the buttons -->
  <% let command_count = 0; %>
  <% block_tabs.forEach((tab, i) => { %>
    <div class="container tab-container" id="tab-id-<%= i %>-content">
      <% tab.blocks.forEach(block => { %>
        <input type="button" class="btn btn-outline-dark" id="command-<%= command_count %>-add" value="Add '<%= block.name %>'">
        <% command_count++; %>
      <% }); %>
    </div>
  <% }); %>

  <!-- Creating the buttons -->
  <% let script_count = 0; %>
  <%- "<script>function click_callbacks(){" %>
  <% block_tabs.forEach((tab, i) => { %>
      <% tab.blocks.forEach(block => { %>
        <%- `$("#command-${script_count}-add").click(() => { drawer.draw_block(new ${block.class}()); });` %>
        <% script_count++; %>
      <% }); %>
  <% }); %>
  <%- "} function defer(f){if(window.jQuery){f();console.log('good');}else{console.log('bad');setTimeout(function(){defer(f)},50);}}defer(click_callbacks);</script>" %>
  

  <br /><br />
  <input type="button" class="btn btn-success" id="generate-code" value="Parse into Json">
  <input type="button" class="btn btn-success" id="copy-code" value="Copy Json">
  <input type="button" class="btn btn-success" id="save-command" value="Save command">
  <input type="button" class="btn btn-success" id="delete-command" value="Delete command">

  <br />
  <div id="json-output"></div>
</div>